
.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 40px auto;
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container h1 {
  width: 300px;
  margin: auto;
  border-bottom: 2px solid #9AA6B2;
  text-align: center;
  margin-bottom: 50px;
  padding: 15px;
  color:#9AA6B2;
}

.about-section-container{
  display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 40%;
  border-bottom:2px solid#9AA6B2;
  margin-bottom: 30px;
  gap: 25px;
  padding: 25px;
}

.about-section h2 {
  color:#9AA6B2;
  border-left: 5px solid#9AA6B2;
  padding-left: 10px;
}

.about-section p {
  margin-bottom: 20px;
}
.features-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 40px auto;
  padding: 40px 20px;
  background-color: #fff;
}

.features-row-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

.features-container h1{
  width: 300px;
  margin: auto;
  border-bottom: 2px solid #9AA6B2;
  text-align: center;
  margin-bottom: 50px;
  padding: 15px;
  color:#9AA6B2;

}
.features-container .row{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
}
.features-row-container p{
  width: 70%;
}
/* تنسيق الصور داخل الجدول */
 .features-img {
    width: 30%;
    object-fit: contain;
    border-radius: 8px;
    padding: 0;
}
.features-img img {
  width: 300px;
  height: auto;
  padding: 0;
}

